<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.9" name="com.orm">
    <resources>
        <resource-root path="orm.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.persistence.api"/>
        <module name="javax.validation.api"/>
        <module name="javax.servlet.api"/>
    </dependencies>
</module>